@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope_font {
  font-family: "Manrope", sans-serif;
}

.dark_1{
    color: #1c1c1c;
}

.dark_3{
    color: #777777;
}